<div class="search-bar-container">
    <div class="inner-search-bar-container">
        <mat-icon svgIcon="search"></mat-icon>
        <input type="text" class="search-bar">
    </div>

</div>
<div class="output-search-container">
    <div class="car-info">
        <div class="car-row">
            <p>Manufacturer: Ford</p>
            <p>Model: Focus</p>
        </div>
    </div>
    <div class="car-versions-container">
        <div class="version-row">
            <p>type: Hatchback</p>
            <p>production year: 2031</p>
        </div>
        <div class="version-row">
            <p>type: Hatchback</p>
            <p>production year: 2031</p>
        </div>
        <div class="version-row">
            <p>type: Coupe</p>
            <p>production year: 2031</p>
        </div>
    </div>
</div>
