<div class="login-container">
    <div class="central-container">
        <div class="left-container">
<!--     https://stackoverflow.com/questions/78551407/images-are-not-displayed-in-angular-18       -->
            <img src="./assets/car.jpg"/>
        </div>
        <div class="right-container">
            <div class="text-container">
                <h1>Welcome back</h1>
                <p>Login to access your dashboard</p>
            </div>
            <button (click)="redirectOnLogin()">LOGIN</button>
        </div>
    </div>
</div>
