<div class="output-search-container">
    @if (cars()) {
        @for (car of cars(); track car.id) {
            <div class="car-info">
                <div class="car-row">
                    <p>Manufacturer: {{ car.manufacturerName }}</p>
                    <p>Model: {{ car.model }}</p>
                </div>
            </div>
            <div class="car-versions-container">
                @for (version of car.versions; track version.productionYear) {
                    <div class="version-row">
                        <p>type: {{ version.type }}</p>
                        <p>production year: {{ version.productionYear }}</p>
                    </div>
                }
            </div>
        }
    }

</div>
