<div class="central-container">
    <div class="upper-container">
        <h3>SuperGini<p>&trade;</p></h3>
        <ul>
            <li>
                Car API
            </li>
            <li>Logout</li>
        </ul>
    </div>
    <div class="lower-container">
        <div class="left-container">
            <div class="text">
                <mat-icon svgIcon="home"></mat-icon>
                <p>Car API</p>
            </div>

            <div class="car-container">
                <button class="add-car btn">Add Car</button>
                <button class="car-search btn">Car Search</button>
                <button class="get-all-cars btn">All Cars</button>
                <button class="update-car btn">Update Car</button>
            </div>
        </div>
        <div class="right-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
