<div class="central-container">
    <div class="upper-container">
        <h3>SuperGini<p>&trade;</p></h3>
        <ul>
            <li>
                Car API
            </li>
            <li>Logout</li>
        </ul>
    </div>
    <div class="lower-container">
        <div class="left-container">
            <div class="text">
                <mat-icon class="activex" [ngClass]="{activex: activePage() === 'home'}" svgIcon="home"></mat-icon>
                <p [ngClass]="{activex: activePage() === 'home'}"  >Car API</p>
            </div>

            <div class="car-container">
                <button class="add-car btn" [ngClass]="{'active': activePage() === 'addCar'}" (click)=toAddCarPage()>Add Car</button>
                <button class="car-search btn" [ngClass]="{active: activePage() === 'getCar'}" (click)="toGetCarPage()">Car Search</button>
                <button class="get-all-cars btn" [ngClass]="{active: activePage() === 'getAllCars'}" (click)="toAllCarsPage()">All Cars</button>
                <button class="update-car btn" [ngClass]="{active: activePage() === 'updateCar'}" (click)="toUpdateCarPage()">Update Car</button>
            </div>
        </div>
        <div class="right-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
