/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*
format("truetype") -> indicates that the font file is in TrueType Font format.
                      This helps the browser correctly interpret and handle the font file
                       during the download and rendering process

https://medium.com/@infowithkiiru/adding-custom-fonts-to-angular-cc24072d9ed3 -> adding fonts

ATTENTION! -> it seems that in Angular 18 the assets folder is now called public. see-> angular.json
*/

@font-face {
    font-family: "Roboto Light";
    src: url("../public/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../public/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../public/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Black";
    src: url("../public/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
